<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <li><a href="/errors/error">Trigger Error</a></li>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
  <a href="/account/application" title="Apply for a job">Be part of our team!</a>
</footer>