<html lang="en" xml:lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/site/favicon-32x32.png">
    <meta name="description" content="Practicing Backend Development">
    <meta name="author" content="Filipe do Nascimento Souza">
    <meta property="og:url" content="https://cse340-database-jedt.onrender.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home page for CSE 340 activities" />
    <meta property="og:description" content="Home page for working in course CSE 340" />
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link rel="stylesheet" href="/css/normalize.css" media="screen">
    <script>
    /*to prevent Firefox FOUC*/
    let FF_FOUC_FIX;
  </script>
</head>
